

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


.login {
  width: 400px;
  margin: auto; /*formerly '10rem auto'*/
  font-size: 16px;
  border-radius: 35px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #2d9cdb;
}

.login-header {
  background: #2d9cdb;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  /* border-width: 1px;
  border-style: solid; */
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;

}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

input::placeholder {
    color: #555;
  }

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: rgb(71, 71, 71);
}

.login input[type="submit"] {
  background: #888;
  text-transform: uppercase;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #2d9cdb;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #2d9cdb;
}