body {
  background: #f0f0f0;
  font-size: 12px;
  color: #333333;
  max-height: 100vh;
  position: relative;
  padding-top: 70px;
  padding-bottom: 50px;
}

.rightJust{
  float: right;
  /* line-height: 32px; */
}

.imageLeft{
  /* float: right; */
  line-height: 32px;
}

.cvv{
    background: transparent;
    /* border: 1px solid rgb(0, 0, 0) !important; */
    border: none !important;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    margin-right: 5px;
    border-radius: 8px;
    /* padding: 4px 10px; */
    width: 180px !important;
    font-size: 12px;
    vertical-align: middle
}

.cvv:focus{
  outline: none !important;
  color: black !important;
  text-decoration: bold !important;
}

a:hover{
  outline: none !important;
  color: rgb(102, 102, 102) !important;
  text-decoration: none !important;
}

.toolHolder{
  margin: 0 48px;
  border-bottom: 1px solid black;
  /* padding-bottom: 42px; /*15px; use if button is outside */  
  font-size: 12px;
  height: 43px
}

.droptext{
  margin: 10px;
}

.toolHolder span{
  vertical-align: middle;
}

.number{
  font-weight: 200;
}

.actionButtons{
  float: left;
  font-size: 12px;
}

/* .actionButtons:first-child div {
  clear: right;
  float: left;
} */

.upload-btn{
  border-radius: 4px;
  border: 1px solid black;
  background-color: transparent;
}

.text-black{
  color: black;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  height: 43px
}

/* .card-grid{
  height: calc(100% - 200px);
  background: #2d9cdb;
} */


@keyframes bouncing-loader {
    to {
      opacity: 0.1;
      transform: translate3d(0, -1rem, 0);
    }
  }
  .bouncing-loader {
    display: flex;
    justify-content: center;
  }
  .bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #2d9cdb;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
  }
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  }


  @media only screen and (max-width: 600px) {
    .toolHolder{
      margin: 0 30px;
      border-bottom: 1px solid black;
      padding-bottom: 42px; /*15px; use if button is outside */ 
      font-size: 12px;
      height: 43px
    }

    .number{
      display: none;
    }

    .hideonmobile{
      display: none;
    }
  }