*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card-img {
  width:100%;
  height: 200px !important;
  object-fit: cover;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-img {
  width:100%;
  height: 400px !important;
  object-fit: contain;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

*:focus {outline:none !important}
*:active {outline:none !important}

/* .image {
  width:100%;
  height: 200px;
  overflow: hidden;
  background-size: cover;
} */

.image img {
  width:100%;
  vertical-align:top;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.image:hover img{
  -webkit-transform: scale(1.005);
  transform: scale(1.005);

}

/* .image:after {
  content:'';
  position:absolute;
  width:300px; 
  height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-transform: scale(1.005);
  transform: scale(1.005);
} */

.image:hover:after {
  opacity:1;
}

img {
  max-width: 100%;
}

.subtitle {
  font-size: 11px;
  color: #333333;
  font-weight: 600;
  margin-top: 5px;
  text-transform: uppercase;
}

.caret{
  /* width: 20px;
  height: 20px; */
  color: rgb(131, 131, 131) !important;
  font-size: 15px;
  margin-top: 8px;
  /* margin-right: 15px; */
  float: right;
  /* margin-left: 30px; */
}

.caretButton{
  background-color: transparent !important;
  color: rgb(131, 131, 131) !important;
  font-size: 15px;
  margin-top: 5px;
  padding: 0 !important;
  float: right;
}

.caretButtonRed{
  background-color: transparent !important;
  color: rgb(204, 0, 0) !important;
  font-size: 15px;
  margin-top: 5px;
  padding: 0 !important;
  float: right;
}

.item {
  color: #333333;
  font-size: 9px;
}

.size {
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* .full {
  width: 100%;
  float: left;
} */

.left {
  width: 75%;
  float: left;
}

.right {
  width: 25%;
  float: right;
  /* text-align: right; */
}

p {
  margin: 0;
}

.card-grid {
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
  justify-content: left;
}

/* .card-grid:after {
  content: "";
  display: table;
  clear: both;
} */

.card-wrap {
  /* width: 25%; removed for bootstrap notation */ 
  box-sizing: border-box;
  /* margin: 8px 8px 24px; */
  padding: 8px 8px 24px;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) and (max-width: 890px) {
  
  /* .card-grid {
    margin-left: 0px !important;
  } */
  /* .card-wrap {
    width: 30.3% !important;
    padding-left: 12px;
  } */

  .caret{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .right {
    width: 60%;
    float: right;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* .card-wrap {
    width: 45.45% !important;
    padding-left: 35px;
  } */

  .caret{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .left {
    width: 40%;
    float: left;
  }
  .right {
    width: 60%;
    float: right;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* .card-grid {
    padding: 0 30px !important;
    margin-left: 0px !important;
  } */

  /* .card-wrap {
    width: 100%;
  } */

  .caret{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px !important;
  }

  .left {
    width: 40%;
    float: left;
  }
  .right {
    width: 60%;
    float: right;
  }
}

@media only screen and (max-width: 375px) {
  /* .card-grid {
    margin-left: -15px !important;
  }

  .card-wrap {
    width: 100%;
    margin: 0 auto;
  } */

  .caret{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    /* margin-left: 40px !important; */
  }
  .left {
    width: 40%;
    float: left;
  }
  .right {
    width: 60%;
    float: right;
  }
}


@media only screen and (max-width: 600px) {
  .card-grid {
    width: 100%;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 50px;
    justify-content: left;
  }

  .left {
    width: 40%;
    float: left;
  }
  .right {
    width: 60%;
    float: right;
  }
}

