nav {
  background-color: #000000;
  height: 70px;
  z-index: 111;
  top:0
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
}

.nav a {
  text-decoration: none;
}

img.union-logo {
  width: 80px !important;
  float: right;
}

.union-title {
  /* position: absolute; */
    font-size: 20px !important;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    /* float: right; */
    /* margin-left: 600px; */
    /* margin-top: -22px; */
    /* bottom : 2px; */
}

.union-faded {
  font-weight: 400 !important;
  color: #f0f0f0 !important;
}

.menu {
  font-size: 16px;
  color: #ffffff;
  display: block;
  width: 20%;
  z-index: 100;
  position: absolute;
}

#searchInput {
  /* background: transparent; */
  /* border-bottom: 1px solid #fff; */
  /* color: #fff; */
  border: none;
  outline: none;
  margin-left: 5px;
  border-radius: 20px;
  padding: 4px 10px;
  width: 100%;
}

input::placeholder {
  color: #ffffff;
}

.drop-down-menu {
  list-style: none;
  width: 60%;
  background-color: #2d9cdb;
  display: inline-block;
  margin: 0;
  height: 300px;
  position: relative;
}


/* .searchReady:focus {
  width: 700px;
  transition: 2s;
} */

ul li {
  display: block;
  z-index: 1000 !important;
}

.hamburger {
  color: #ffffff !important;
  font-size: 25px;
  margin-top: 3px;
}

.upload-btn{
  background-color: #ffffff;
  font-size: 12px;
}

/* .menu-handles {
  margin-left: 50px;
} */

.list-item {
  color: #ffffff !important;
  line-height: 50px;
  font-size: 16px !important;
}

.search {
  position: absolute;
  font-size: 20px !important;
  color: #ffffff !important;
}

.search-items {
  position: absolute;
  margin-left: 100px;
}

  /* position: absolute; */
  /* font-size: 20px !important;
  color: #ffffff !important;
  margin-top: 5px;
} */

.search:focus {
  font-size: 20px !important;
  color: #ffffff !important;
  margin-top: 1px;
  margin-bottom: 0px !important;
}
 
.search:active {
  font-size: 20px !important;
  color: #ffffff !important;
  margin-top: 1px !important;
  margin-bottom: -1px !important;
}

/* .search-items {
  position: absolute;
  margin-left: 100px;
} */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
  }

  .menu-handles {
    margin-left: 0px !important;
    border-right: 0px !important;
  }

  .union-logo {
    margin-right: 0px !important;
  }

  .union-logo {
    margin-left: 100px !important;
    margin-right: 0px !important;
    width: 80px;
    /* margin-left: 10px !important; */
  }
  .union-logo img{
    margin-right: 0px !important;
    width: 10px;
    float: right;
  }

  .navbar > .no-left-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .union-title {
   display:none;
  }

  .union-title {
    display: none !important;
  }

  .form-inline {
    margin-left: 80px;
  }

  .drop-down-menu {
    list-style: none;
    width: 150px;
    background-color: #2d9cdb;
    display: inline-block;
    margin: 0;
    height: 300px;
    position: relative;
  }


  /* .search-items {
    position: absolute;
    margin-left: 50px;
  } */

  /* .searchReady:focus {
    width: 150px;
    transition: 3s;
  } */
  
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .union-logo {
    display: none;
  }

  img.union-logo {
    float: right;
  }

  .union-title {
    display:none;
  }

  .navbar > .no-left-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}

@media only screen and (min-width: 1801px) {
  .list-item {
    color: #ffffff !important;
    line-height: 50px;
    font-size: 16px !important;
    margin-left: 50px !important;
  }


}


@media only screen and (max-width: 600px) {
  /* #searchInput {
    border: none;
    outline: none;
    margin-left: 5px;
    border-radius: 20px;
    padding: 4px 10px;
    width: inherit;
  } */

  .navbar > .no-left-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
  }

  img.union-logo {
    float: right;
  }

}
