/* Footer */
.footer {
  justify-content: space-evenly;
  font-size: 10px;
  padding: 0.7rem 23rem;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 1.5rem;  */
  background-color: white; 
  clear:both;
  /* margin-top: 10rem; */
}

.footer,
.footer a {
  color: #000000;
}

/* .Arr,
.TC,
.policy,
.disclaimer {
  padding-right: 20px;
}

.faq {
  padding-left: 20px;
} */

/* @media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .footer {
    display: flex;
    justify-content: center;
    font-size: 13px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer {
    display: flex;
    justify-content: center;
    font-size: 8px;
    font-weight: bold;
  }
} */



@media only screen and (min-width: 360px) {
  .footer {
    justify-content: space-evenly;
    font-size: 9px;
    padding: 0.8rem 1rem;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white; 
    clear:both;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    justify-content: space-evenly;
    font-size: 10px;
    padding: 0.7rem 2.9rem;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white; 
    clear:both;
  }
}
